{% extends 'base.html' %} {% block title%}
<title>SAT, Ielts and Language Books</title>
{% endblock title%} {% block body %}

<body>
    <div class="container">
        <hr />
        <h2 class="text-center">SAT, Ielts and Language Books</h2>
        <hr />
        <div class="row">
            <div class="card-list">
                <div class="card">
                    <img src="../static/img/books/s1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Collage Panda</h5>
                        <a href="#" class="btn btn-primary">Read & Download</a>
                    </div>
                </div>

                <div class="card">
                    <img src="../static/img/books/s2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Erica L. Meltzer</h5>
                        <a href="#" class="btn btn-primary">Read & Download</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
<style>
    .card {
        width: 15rem;
        height: 320px;
        border-radius: 20px;
        background-color: rgb(158, 144, 124);
        float: left;
        margin-right: 15px;
        margin-left: 15px;
    }

    .card img {
        border-radius: 20px;
        height: 70%;
        width: 100%;
    }
    .card-body h5{
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
    }
    .card-body a {
        width: auto;
        margin-left: 20px;
    }

</style>
{% endblock body %}