{% extends 'base.html' %} {% block title%}
<title>Science Books</title>
{% endblock title%} {% block body %}
</head>

<body>
  <div class="container">
    <header>
      <h1 class="text-center">Memorivise books</h1>
    </header>
    <hr />
    <h2 class="text-center">Science Books- Physics</h2>
    <hr />
    <div class="row">
      <div class="card-list">
        <div class="card">
          <img src="../static/img/books/university.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">University Physics</h5>
            <a href="#" class="btn btn-primary">Read & Download</a>
          </div>
        </div>

        <div class="card">
          <img src="../static/img/books/fundamnetal.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Fundamnetals of Physics</h5>
            <a href="#" class="btn btn-primary">Read & Download</a>
          </div>
        </div>

        <div class="card">
          <img src="../static/img/books/p11.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"> Modern Physics</h5>
            <a href="#" class="btn btn-primary">Read & Download</a>
          </div>
        </div>

        <div class="card">
          <img src="../static/img/books/p12.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">McGraw Hill Physics</h5>
            <a href="#" class="btn btn-primary" mx-1>Read & Download</a>
          </div>
        </div>
      </div>
    </div>

    <hr />
    <h2 class="text-center">Science Books- Chemistry</h2>
    <hr />
    <div class="row">
      <div class="card-list">
        <div class="card">
          <img src="../static/img/books/c12.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Atkins PhysicalChemistry</h5>
            <a href="#" class="btn btn-primary">Read & Download</a>
          </div>
        </div>

        <div class="card">
          <img src="../static/img/books/c13.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Franis A. Organic</h5>
            <a href="#" class="btn btn-primary">Read & Download</a>
          </div>
        </div>

        <div class="card">
          <img src="../static/img/books/c14.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"> Concise Inorganic</h5>
            <a href="#" class="btn btn-primary">Read & Download</a>
          </div>
        </div>

        <div class="card">
          <img src="../static/img/books/c15.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Peter Skys Organic</h5>
            <a href="#" class="btn btn-primary" mx-1>Read & Download</a>
          </div>
        </div>
      </div>
    </div>

    <hr />
    <h2 class="text-center">Science Books- Biology</h2>
    <hr />
    <div class="row">
      <div class="card-list">
        <div class="card">
          <img src="../static/img/books/b11.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Campbell Biology</h5>
            <a href="#" class="btn btn-primary">Read & Download</a>
          </div>
        </div>

        <div class="card">
          <img src="../static/img/books/b12.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ravin Biology</h5>
            <a href="#" class="btn btn-primary">Read & Download</a>
          </div>
        </div>

        <div class="card">
          <img src="../static/img/books/c14.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"> Concise Inorganic</h5>
            <a href="#" class="btn btn-primary">Read & Download</a>
          </div>
        </div>

        <div class="card">
          <img src="../static/img/books/p12.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">McGraw Hill Physics</h5>
            <a href="#" class="btn btn-primary" mx-1>Read & Download</a>
          </div>
        </div>
      </div>
    </div>

    <hr />
    <h2 class="text-center">Compulsory Books</h2>
    <hr />
    <div class="row">
      <div class="card-list">
        <div class="card">
          <img src="../static/img/books/english12.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">English</h5>
            <a href="#" class="btn btn-primary">Read & Download</a>
          </div>
        </div>

        <div class="card">
          <img src="../static/img/books/nepali12.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Nepali</h5>
            <a href="#" class="btn btn-primary">Read & Download</a>
          </div>
        </div>

        <div class="card">
          <img src="../static/img/books/social112.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"> Social studies</h5>
            <a href="#" class="btn btn-primary">Read & Download</a>
          </div>
        </div>
      </div>
    </div>

    <hr />
    <h2 class="text-center">Plant Science</h2>
    <hr />
    <div class="row">
      <div class="card-list">
        <div class="card">
          <img src="../static/img/books/plant1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Sustainable Nutrient 
              </h5>
            <a href="#" class="btn btn-primary">Read & Download</a>
          </div>
        </div>

        <div class="card">
          <img src="../static/img/books/plant2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Commercial Mushroom 
          </h5>
            <a href="#" class="btn btn-primary">Read & Download</a>
          </div>
        </div>

        <div class="card">
          <img src="../static/img/books/plant3.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"> Commercial Vegetable </h5>
            <a href="#" class="btn btn-primary">Read & Download</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>
<style>
 .card {
        width: 15.5rem;
        height: 370px;
        border-radius: 20px;
        background-color: rgb(158, 144, 124);
        float: left;
        margin-right: 15px;
        margin-left: 15px;
    }

    .card img {
        border-radius: 20px;
        height: 70%;
        width: 100%;
    }
    .card-body h5{
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
    }
    .card-body a {
        width: auto;
        margin-left: 20px;
    }

</style>
{% endblock body %}