{% extends 'base.html' %} {% block title%}
<title>Science Books</title>
{% endblock title%} {% block body %}
</head>
<body>
  <div class="container">
    <header>
      <h1 class="text-center">Memorivise books</h1>
    </header>
    <hr />
    <h2 class="text-center">Science Books- Physics</h2>
  </div>
  <div class="row">
    <div class="book-slider">
      <div class="wraper">
        <a href=""><img src="..\static\img\books\university.jpg" height="200px" width="150px" id="bk"></a>
      </div>
    </div>
  </div>
  <div class="container">
    <img src="..\static\img\books\stand.png" class="stand">
  </div>
</body>
<style>
  .wraper a{
    align-items: center;
  }
  .wraper a img{
    align-items: center;
    margin-left: 20px;
  }
</style>
{% endblock body %}