{% extends 'base.html' %} {% block title %}
<title>Update - Memorivise</title>
{% endblock %} {% block body %}
<div class="container">
  <form class="mt-5" method="POST" action="/revise/update/{{update.id}}">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        name="title"
        id="title"
        aria-describedby="emailHelp"
        value="{{update.title}}"
      />
    </div>
    <div class="mb-3">
      <label for="decsription" class="form-label">Description</label>
      <textarea
        class="form-control"
        name="description"
        id="description"
        rows="3"
      >
      {{update.description}}
    </textarea>
    </div>
    <button type="submit" id="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
