{% extends 'base.html' %} {% block title %}
<title>Login - Memorivise</title>
{% endblock %} {% block body %}
<div class="container">
  <h1 class="text-center">Welcome to Memorivise</h1>

  <form class="my-3 col-lg-6 mx-auto bg-primary px-4" action="/login" method="post">
    <div class="">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        id="email"
        placeholder="example@gmail.com"
        aria-describedby="emailHelp"
      />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        id="password"
      />
    </div>

    <div class="forgot-password col-12 ms-auto">
      <a href="">Forgot Password?</a>
    </div>
    <input class="form-control" type="submit" value="Login" />

    <div class="seperator text-center my-3">
      <span class="bg-secondary"></span>
      OR
      <span class="bg-secondary"></span>
    </div>
    <input class="form-control" type="submit" value="SignUp" />
  </form>
</div>
{% endblock %}
